- @title = 'help'

.header
  %h1
    <a href="."><img src="images/gren-icon-mini.png" alt="gren-icon" border="0"/></a>
    help - CodeStock

.content
  .sample-code
    %ol
      %li キーワードで検索<br>#{link('def open')} 
      %li１フレーズとして検索<br>#{link('"def open"')}
      %li パッケージ名で絞り込み<br>#{link('def open p:gren')}
      %li ファイル名や拡張子で絞り込み<br>#{link('def open f:test s:rb')}
      %li 組み合わせ<br>#{link('p:gren p:tidtools s:rb f:test assert f:cli')}
      
