.header
  %h1
    <a href="/"><img src="/images/MilkodeIcon135.png" alt="milkode-icon-mini" border="0" height="75px"/></a>
    Milkode
    = create_headmenu(@path, params)

.content
  = haml :search_form

  .search-summary
    <span class="keyword">#{topic_path(@path, params)}</span> <span class="total-entries">#{@total_records}</span>件（#{@elapsed}秒）
  ~ @record_content


