= haml :header_menu

.content
  = haml :search_form

  .search-summary
    <span class="keyword">#{topic_path(@path, params)}</span> <span class="total-entries">#{@total_records}</span>件（#{@elapsed}秒）
  ~ @record_content


