- @title = 'help'

.header
  %h1
    <a href="/"><img src=#{@setting.header_icon} alt="milkode-icon-mini" border="0" height="75px"/></a>
    #{@title} - #{@setting.header_title}

.content
  .sample-code
    %h2 基本
    %ol
      %li キーワードを並べてAND検索<br>#{link('def open')} 
      %li １フレーズとして検索<br>#{link('"def open"')}
      
    %h2 オプション
    %ol
      %li パッケージ名で絞り込み<br>#{link('def open p:milkode')}
      %li ファイル名で絞り込み<br>#{link('def open f:test')}
      %li 拡張子で絞り込み<br>#{link('s:rb')}
      %li ファイル名もしくはパッケージ名で絞り込み<br>#{link('fp:milkode')}
      %li ファイル名、パッケージ名、もしくはファイルの内容<br>#{link('k:test')}
      %li 検索範囲を複数行に広げる(#{link('w:0 read write', 'w:0')}ならファイル内全て)<br>#{link('w:7 read write')}
      
    %h2 ダイレクトパス
    %ol
      %li viewモードで行番号をクリックするとダイレクトパス(現在行を表すテキスト)を表示
      %li ダイレクトパスで検索すると直接ジャンプ<br>#{link('/milkode/lib/milkode/cdstk/cdstk.rb:81')}
      %li 空白を含むダイレクトパスは""で囲む<br>#{link('"/path/a to text/dir:3"')}
      %li ダイレクトパスは空白で区切って複数渡せる<br>#{link('/milkode/lib/milkode/cli.rb:41 /milkode/lib/milkode/cdstk/cdstk.rb:121')}
      
