= haml :header_menu

.content
  .help-content
    %h1 #{t(:help)}
    
    %ol
      %li <a href="#search">#{t(:help_search_by_keyword)}</a>
      %li <a href="#refine">#{t(:filter_options)}</a>
      %li <a href="#keyboard_shortcut">#{t(:keyboard_shortcut)}</a>
      %li <a href="#directpath">#{t(:help_directpath)}</a>

    %h2#search #{t(:help_search_by_keyword)}
    %ul
      %li #{t(:help_and_search)}

      %pre
        :preserve
          def open

      %li #{t(:help_phrase_search)}
      %pre
        :preserve
          "def open"
      
    %h2#refine #{t(:filter_options)}
    %p
      #{t(:help_filter_options_description)}
      
    %ul
      %li #{t(:help_filter_by_package_name)}
      %pre
        :preserve
          p:milkode
      
      %li #{t(:help_filter_by_file_name)}
      %pre
        :preserve
          f:test
      
      %li #{t(:help_filter_by_suffix)}
      %pre
        :preserve
          s:rb
      
      %li #{t(:help_filter_by_a_file_name_or_package_name)}
      %pre
        :preserve
          fp:milkode
      
      %li #{t(:help_filter_by_a_file_name_or_package_name_or_contents)}
      %pre
        :preserve
          k:test
      
      %li #{t(:help_wide_search)}
      %pre
        :preserve
          w:7 read write                          <span class="comment"># #{t(:help_wide_search_comment_01)}</span>
          w:0 read write                          <span class="comment"># #{t(:help_wide_search_comment_02)}</span>

    %h2#keyboard_shortcut #{t(:keyboard_shortcut)}
    %ul
      %li <b>s</b> .. #{t(:keyboard_shortcut_s)}
      %li <b>S</b> (#{t(:select_text)}) .. #{t(:keyboard_shortcut_S)}

    %h2#directpath #{t(:help_directpath)}
    %p
      #{t(:help_directpath_description)}
      
    %ul
      %li #{t(:help_jump_directly_to_a_search_for_directpath)}
      %pre
        :preserve
          /proj/a/file.rb:81                      <span class="comment"># #{t(:help_directpath_comment_01)}</span>
          "/proj/a file.rb:3"                     <span class="comment"># #{t(:help_directpath_comment_02)}</span>
          /proj1/file.rb:1 /proj2/file.c:2        <span class="comment"># #{t(:help_directpath_comment_03)}</span>

      %li #{t(:help_directpath_gif)}
      <img src="#{url_for '/images/milkode-directpath-copy.gif'}" />

      %li #{t(:help_emacs_milkode)}
