- @title = 'help'

.header
  %h1
    <a href="/"><img src=#{@setting.header_icon} alt="milkode-icon-mini" border="0" height="75px"/></a>
    #{@title} - #{@setting.header_title}

.content
  .sample-code
    %ol
      %li キーワードを並べてAND検索<br>#{link('def open')} 
      %li １フレーズとして検索<br>#{link('"def open"')}
      %li パッケージ名で絞り込み<br>#{link('def open p:milkode')}
      %li ファイル名で絞り込み<br>#{link('def open f:test')}
      %li 拡張子で絞り込み<br>#{link('s:rb')}
      
