!!!

-# layout.haml は使いません

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@title, @setting.home_title].compact.join(' - ')
    %link(rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css" media="all")
    %link(rel="stylesheet" href="/css/bootstrap-responsive.min.css"  type="text/css" media="all")
    %link(rel="stylesheet" href="/css/milkode.css"  type="text/css" media="all")
    %script(type='text/javascript' src='/js/milkode.js')

  %body
    .container#toppage
      .row
        .span10.offset2
          %h1 <a href="/"><img src=#{@setting.home_icon} alt="milkode-icon" border="0" height="135px" /></a> #{@setting.home_title} <font class="version">#{@version}</font>

      .row
        .span10.offset2
          .form
            %form(method="post" action="/search")
              %input(name="query" type="text" style="width: 419px;")
              %input(type="submit" value="検索")
              %input(name='pathname' type='hidden' value='/home')

      .row
        .span3
          %h2 最近
          = @package_list.top_view
        .span3
          %h2 追加
          = @package_list.top_add
        .span3
          %h2 更新
          = @package_list.top_update
        .span3
          %h2 お気に入り
          = @package_list.top_fav

      %hr
   
      .row
        .span4.offset4
          .footer
            <a href="/home">#{@package_num}</a>のパッケージ<br>
            <a href="/home?query=f:*">#{@file_num}</a>のファイル<br>
            <a href="/help">ヘルプ</a>
            = @setting.about_milkode

    


