%div(align="center")
  .header_home
    %h1 <a href=#{url_for("/")}><img src=#{url_for("images/MilkodeIcon135.png")} alt="milkode-icon" border="0" height="135px" /></a> Milkode <font class="version">#{@version}</font>

  .content
    %form{:method => "post", :action => url_for("/search")}
      %p
        %input(name="query" type="text" size="60")
        %input(type="submit" value="検索")
        %input{:name => 'pathname', :type => 'hidden', :value => url_for('/home')}
  
  .footer_home
    <a href=#{url_for("/home")}>#{@package_num}</a>のパッケージ<br>
    <a href=#{url_for("/home?query=f:*")}>#{@file_num}</a>のファイル<br>
    <a href=#{url_for("/help")}>ヘルプ</a> , 
    <a href="http://milkode.ongaeshi.me">milkodeについて</a>

