!!!

-# layout.haml は使いません

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@title, @setting.home_title].compact.join(' - ')
    %link(rel="shortcut icon" href="#{url_for @setting.favicon}")
    %link(rel="stylesheet" href="#{url_for '/css/bootstrap.min.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/bootstrap-responsive.min.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/milkode.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/smoothness/jquery-ui-1.8.22.custom.css'}" type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/jquery.multiselect.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/jquery.multiselect.filter.css'}"  type="text/css" media="all")

  %body
    .container#toppage
      .row
        .span10.offset2
          %h1 <a href="#{url_for '/'}"><img src=#{url_for @setting.home_icon} alt="milkode-icon" border="0" height="135px" /></a> #{@setting.home_title} <font class="version">#{@version}</font>

      .row
        .span10.offset2
          .form
            %form(method="post" action="#{url_for '/search'}")
              %input(name="query" type="text" style="width: 419px;")
              %input(type="submit" value="#{t.index.search_button}")
              %input(name='pathname' type='hidden' value='#{url_for '/home'}')

      .row
        .span4.offset4
          #select_package
            = create_select_package_home

      .row
        .span3
          %h2 #{t.index.content.recentf}
          = @package_list.top_view
        .span3
          %h2 #{t.index.content.add}
          = @package_list.top_add
        .span3
          %h2 #{t.index.content.update}
          = @package_list.top_update
        .span3
          %h2 #{t.index.content.fav}
          = @package_list.top_fav

      %hr
   
      .row
        .span4.offset4
          .footer
            = t.index.footer.package_num(url_for('/home'), @package_num)
            = t.index.footer.file_num(url_for('/home?query=f:*'), @file_num)
            <a href="#{url_for '/help'}">#{t.index.footer.help}</a>
            = @setting.about_milkode

    %script(type='text/javascript' src='#{url_for '/js/jquery-1.7.2.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery-ui-1.8.22.custom.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery.multiselect.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery.multiselect.filter.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/milkode.js'}')
            

    


