= haml :header_menu

.content
  .info-package-content
    %h1 <a href="#{url_for '/info'}"><img src="#{url_for '/images/info-big.png'}"/></a> <a href="#{url_for "/home/#{@path}"}">#{@path}</a>の統計

    %h2 基本情報
    ~ @summary_content
    
    %h2 言語別
    ~ @plang_content


