!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@title, @setting.home_title].compact.join(' - ')
    %meta(name='viewport' content='width=device-width')
    %link(rel="shortcut icon" href="#{url_for @setting.favicon}")
    %link(rel="stylesheet" href="#{url_for '/css/bootstrap.min.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/bootstrap-responsive.min.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/milkode.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/coderay.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/coderay-patch.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/smoothness/jquery-ui-1.8.22.custom.css'}" type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/jquery.multiselect.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/jquery.multiselect.filter.css'}"  type="text/css" media="all")

  %body
    .container-fluid#mainpage
      != yield
    %script(type='text/javascript' src='#{url_for '/js/jquery-1.7.2.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery-ui-1.8.22.custom.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery.multiselect.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery.multiselect.filter.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/bootstrap.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/milkode.js'}')

-#  GoogleAnalyticsを使いたい場合はここにコードを挿入して下さい。
