= haml :header_menu

.content
  = haml :search_form

  .search-summary
    .sort-change.ss-box
      #{@sort_change_content}
    .total-entries.ss-box
      #{@total_records} #{t(:item)}（#{@elapsed}#{t(:sec)}）
    .ss-end

  ~ @record_content


