.search_form
  :javascript
    function set_pathname() {
      document.searchform.pathname.value = location.pathname;
    }
  %form(name="searchform" action="/search" method="post")
    %p
      %input#query(name="query" size="70" type="text" style="width: 419px;"){:value => params[:query]}
      %input#search(type="submit" name="search" value="検索" onclick="set_pathname()")
      %input#newtab(type="submit" name="newtab" value="新規タブ" onclick="window.open(document.URL); return false;")
      %input#clear(type="submit" name="clear" value="クリア" onclick="set_pathname()")
      %br
      範囲:
      = create_select_shead(params[:shead])
      パッケージ:
      = create_select_package(@path)
      = create_checkbox('onematch', params[:onematch], '1ファイル1マッチ')
      = create_checkbox('sensitive', params[:sensitive], '大文字／小文字を区別')
      = create_favorite_list(@package_list)
      
      %input(name="pathname" type="hidden" value="")
