= haml :header_menu

.content
  = haml :search_form
  
  .search-summary
    .favstar.ss-box
      #{favstar(@path)}
    .keyword.ss-box
      #{topic_path(@path, params)}
    .hit-num.ss-box
      #{@total_records}</span>
      = t(:total_files)
    .search-range.ss-box
      #{@range.first} - #{@range.last} #{t(:searched)}
    .match-num.ss-box
      #{@match_num}</span> #{t(:matched_num)}（#{@elapsed}#{t(:sec)}）
    .search-summary-hook.ss-box
      #{search_summary_hook(@path)}
    .ss-end
  ~ @record_content
