.header
  %h1
    <a href=#{url_for("/")}><img src=#{url_for("/images/MilkodeIcon135.png")} alt="milkode-icon-mini" border="0" height="75px"/></a>
    Milkode
    = create_headmenu(@path, params)

.content
  = create_form(@path, params[:query], params[:shead])
  
  .search-summary
    <span class="keyword">#{topic_path(@path, params)}</span>
    <span class="hit-num">#{@total_records}</span>件ヒット中</span>
    <span class="search-range">#{@range.first}番から#{@range.last - @range.first + 1}件を検索</span>
    <span class="match-num">#{@match_num}</span>件マッチ</span>
    （#{@elapsed}秒）
    
  ~ @record_content
