.search_form
  :javascript
    function set_pathname() {
      document.searchform.pathname.value = location.pathname;
    }
  %form(name="searchform" action="#{url_for '/search'}" method="post")
    %p
      %input#query(name="query" size="70" type="text" style="width: 419px;"){:value => params[:query]}
      %input#search(type="submit" name="search" value="#{t(:search)}" onclick="set_pathname()")
      %input#newtab(type="submit" name="newtab" value="#{t(:new_tab)}" onclick="open_newtab(); return false;")
      %input#clear(type="submit" name="clear" value="#{t(:clear)}" onclick="set_pathname()")
      %br
      = t(:target) + ":"
      = create_select_shead(params[:shead])
      = t(:package) + ":"
      = create_select_package(@path)
      = create_checkbox('onematch', params[:onematch], t(:onematch))
      = create_checkbox('sensitive', params[:sensitive], t(:case_sensitive))
      = create_favorite_list(@package_list)
      
      %input(name="pathname" type="hidden" value="")
      %input(name="relative_url" type="hidden" value="#{ENV['MILKODE_RELATIVE_URL']}")
